<%
var context = {app:app, form:form, doc:doc, request:request, user:user};
var _context = { user:user };
var canchange = (doc && doc._id) ? app.can("update", form, request.session, doc) : app.can("create", form, request.session);

%><div class="nav">
 <a class="breadcrumb" href="/<%= app._name %>">Home</a>
 <a class="breadcrumb" href="/<%= app._name %>/<%= name %>"><%= form.label || name %></a>
 <% if (doc && doc._id) { %><a class="breadcrumb" href="/<%= app._name %>/<%= name %>/<%= doc._id %>">This document</a><% } %>
</div><%

if (form.label) { %><h2><%= form.label %></h2><% }
if (form.description) { %><p><%= form.description %></p><% }
 %><form method="post" class="form"><%
 if (doc && doc._id) { %><input type="hidden" name="_id" value="<%= doc._id %>"/><input type="hidden" name="_rev" value="<%= doc._rev %>"/><% }
  for (var index=0, field; field=form.fields[index]; index++) { %>

  <% if (field.section || !index) { %>
   <% if (index > 0) { %></dl></fieldset></div><% } %>
   <div class="section" id="<%= field.name %>"><% if (field.section) { %><h2><%= field.section %></h2><p><%= field.description %></p><% } %><fieldset><dl>
  <% } %>

  <% if (field.label) {
      var error = errors[field.name];
      var val = field.formula ? _.safetemplate(field.formula, _.extend({_context:_context}, doc)) : (doc[field.name] || field.default || '');
      if (field.values && field.values.form && field.values.field) {
        var values = app._lookup(field.values.form, field.values.field);
        if (!_(field.validations).contains(true)) { values.unshift("");  }
      } else {
        var values = field.values;
      }
  %>
   <dt class="<%= error ? "error" : "" %>">
    <label for="<%= field.name %>"><%= field.label %></label>
    <% if (field.description) { %><p><%= field.description %></p><% } %>
   </dt>
   <dd>
   <% if (field.type === "radio") { %>
    <% for (var i=0,l=values.length; i<l; i++) { print("<label><input type=\'", field.type, "\' name=\'", field.name, "\' value=\'", values[i], "\'", values[i] === val ? " checked=\'checked\'" : "", " />", values[i], "</label>"); } %>
   <% } else if (field.type === "checkbox") { %>
    <% for (var i=0,l=values.length; i<l; i++) { print("<label><input type=\'", field.type, "\' name=\'", field.name, "\' value=\'", values[i], "\'", val.indexOf(values[i]) >= 0 ? " checked=\'checked\'" : "", " />", values[i], "</label>"); } %>
   <% } else if (field.type === "textarea") { %>
    <textarea name="<%= field.name %>" id="<%= field.name %>" type="<%= field.type || "text" %>"><%= val %></textarea>
   <% } else if (field.type === "select") { %>
    <select name="<%= field.name %>"><% for (var i=0,l=values.length; i<l; i++) { print("<option", values[i]==val ? " selected=\'selected\'" : "", ">", values[i], "</option>"); } %></select>
   <% } else if (field.type === "computed") { %>
    <input name="<%= field.name %>" type="<%= field.type || "text" %>" readonly value="<%= val %>"/>
   <% } else { %>
    <input name="<%= field.name %>" class="<%= field.type || "" %>" type="<%= field.type || "text" %>" value="<%= val %>"/>
   <% } %>
   </dd>

   <% if (error) { %>
    <% for (var errnum=0, msg; msg=error[errnum]; errnum++) { %>
     <span class="error"> <%= msg %></span>
    <% } %>
   <% } %>

  <% } %>

 <% } %>
 </dl></fieldset></div>
 <% if (canchange) { %><button type="submit"><%= (form.actions || {}).submit || "Submit" %></button><% } %>
</form>

<% if (form.actions) { %>
 <ul class="actions">
  <% for (var i=0, action; action=form.actions[i]; i++) { %>
   <li><a href="/<%= app._name %><%= _.template(action.url, context) %>"><%= _.template(action.label, context) %></a></li>
  <% } %>
 </ul>
<% } %>

<% if (doc[":history"]) { %>
<h2>Changes</h2>
<ol>
 <% for (var i=0, change; change=doc[":history"][i]; i++) { %>
  <li>On <%= new Date(Date.parse(change[":updated"])).toString() %><% if (change[":user"]) { %>, <%= change[":user"] %> changed<% } %>:
   <ul>
    <% for (var j=0, field; field=change[":fields"][j]; j++) { %>
     <li><%= field[0] %>: <del><%= field[1] %></del> <ins><%= field[2] %></ins></li>
    <% } %>
   </ul>
  </li>
 <% } %>
</ol>
<% } %>

<script>
var _context = <%= JSON.stringify(_context) %>;
function onChange(){
  var a = $("form").serializeArray();
  for (var data={}, i=0, f; f=a[i]; i++){
    data[f.name] = f.value;
  }
  <% for (var i=0, field; field=form.fields[i]; i++) { if (field.formula) { %>
    var val = data["<%= field.name %>"] = _.template("<%= field.formula %>",data);
    $("input[name=<%= field.name %>]").val(val);
  <% } } %>

  <% for (var i=0, field; field=form.fields[i]; i++) { if (field.showif) { %>
    with(data) { var show = <%= field.showif %>; }
    $("input[name=<%= field.name %>],#<%= field.name %>")[show ? 'show' : 'hide']();
  <% } } %>
}
$("form input,form select,form textarea").change(onChange);
onChange();
</script>
