<% if (app.form) { %><h2>Forms</h2>
<ul id="forms" class="objlist">
 <% for (var name in app.form) { %>
  <li><a href="/<%= app._name %>/<%= name %>"><%= app.form[name].label || name %></a></li>
 <% } %>
</ul><% } %>

<% if (app.view) { %><h2>Views</h2>
<ul id="views" class="objlist">
 <% for (var name in app.view) { %>
  <li><a href="/<%= app._name %>/<%= name %>"><%= app.view[name].label || name %></a></li>
 <% } %>
</ul><% } %>

<% if (app.page) { %><h2>Pages</h2>
<ul id="pages" class="objlist">
 <% for (var name in app.page) { if (name && name !== "404") { %>
  <li><a href="/<%= app._name %>/<%= name %>"><%= name || "Home" %></a></li>
 <% } } %>
</ul><% } %>
