<% if (view.label) { %><h2><%= view.label %></h2><% } %>
<form method="post" class="view">
 <table>
  <thead><tr><th></th>
    <% for (var i=0, field; field=view.fields[i]; i++) { var sorted = (field.name == sortby) ? (options.descending ? "descending" : "ascending") : ""; %>
     <th><a href="/<%= app._name %>/<%= name %>/<%= (sorted == "ascending") ? "-" + field.name : field.name %>"><%= field.label %><%= sorted == "ascending" ? " &#x25b2;" : sorted == "descending" ? " &#x25bc;" : "" %></a></th>
    <% } %>
  </tr></thead>
  <tbody>
   <% for (var i=0, doc; doc=docs[i]; i++) {
     %><tr><td><input name="doc:<%= doc._id %>:<%= doc._rev %>" type="checkbox"></td><%
       for (var j=0, field; field=view.fields[j]; j++) {
         %><td><a href="/<%= app._name %>/<%= view.form %>/<%= doc._id %>"><%= doc[field.name] %></a></td><%
       }
     %></tr><%
   } %>
   <tr><td class="next" colspan="<%= 1 + view.fields.length %>"> <% if (viewdata.length > 0) {
      var first = viewdata[0];
      var last = viewdata[viewdata.length-1];
     %><a href="?startkey=<%= last.key %>&startkey_docid=<%= last.value %>&skip=1">Next</a>
     <% } %>
   </td></tr>
  </tbody>
 </table>
 <button name="delete" type="submit">Delete</button>
</form>

<% if (view.actions) { %>
 <ul class="actions">
  <% for (var i=0, action; action=view.actions[i]; i++) { %>
   <li><a href="/<%= app._name %><%= action.url %>"><%= action.text %></a></li>
  <% } %>
 </ul>
<% } %>
